html {
  background-color: rgb(24, 24, 24);
}

.control-bar {
  display: flex;
  margin: 0 10px;
  background-color: rgb(194, 166, 10);
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.control-bar button {
  height: 50%;
  padding: 3px 5px;
  margin: 0px 10px;
  border-radius: 5px;
  background-color: inherit;
  color: rgb(0, 0, 0);
  font-family: "roboto";
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.column-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: auto;
  margin: 0 10px;
  justify-content: center;
}

.column {
  width: 4px;
  background-color: rgb(219, 134, 44);
  display: inline-block;
  margin: 0 2px;
}
